# Procesamiento y Transformaci贸n de Datos en Python

## Cuaderno de Ejercicios

> Resuelve en conjunto con tu profesor. Escribe tu soluci贸n en la celda de c贸digo que aparece debajo de cada enunciado.

## Transformaci贸n de Datos:

In [ ]:
import pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.DataFrame({"K1": [ "one", "two"] * 3 + [ "two"], "k2": [1, 1, 2, 3, 3, 4, 4]})

In [3]:
data.drop_duplicates()

    K1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [5]:
data['k2'].replace([3], [5], inplace=True)
display(data)

C:\Users\Jefferson Dell\AppData\Local\Temp\ipykernel_40324\4084606751.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['k2'].replace([3], [5], inplace=True)

    K1  k2
0  one   1
1  two   1
2  one   2
3  two   5
4  one   5
5  two   4
6  two   4

In [9]:
data_iris= pd.read_csv("Iris.csv")
display(data_iris.head())

data_iris.drop('Id', inplace=True, axis=1)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
display(data_iris.head())
data_iris['Species_cod']= data_iris["Species"].astype('category').cat.codes
display(data_iris.sample(5))

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_cod
9,4.9,3.1,1.5,0.1,Iris-setosa,0
58,6.6,2.9,4.6,1.3,Iris-versicolor,1
40,5.0,3.5,1.3,0.3,Iris-setosa,0
78,6.0,2.9,4.5,1.5,Iris-versicolor,1
34,4.9,3.1,1.5,0.1,Iris-setosa,0

In [20]:
def minmax(col):
    return round(col - col.min()) / (col.max() - col.min(), 4)

In [19]:
def zscore(col):
    return round((col - col.mean()) / col.std(), 4)

In [18]:
display(data_iris.head())

iris_norm= data_iris.copy()
iris_norm=iris_norm.apply(minmax, axis=0)

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_cod
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
df= pd.read_csv("titanic.csv")
display(df.head())

  PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...

In [25]:
df=df[['Survived', 'Pclass', 'Sex','Age', 'Embarked']]
df.sample(5)

KeyError: "None of [Index(['Survived', 'Pclass', 'Sex', 'Age', 'Embarked'], dtype='object')] are in the [columns]"

## Conversi贸n de Tipos de Datos en Pandas

## One Hot Encoding con Pandas

### Escalamiento de Datos con NumPy y Pandas

## Ejemplo pr谩ctico: Clasificaci贸n con preprocesamiento y One Hot Encoding